.intersection-observer.container1{
    opacity: 0;
    filter: blur(2px);
    transition: ease-in-out 400ms;
    transform: translateY(-50%);
    
   
}
.intersection-observer.container1.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(-8%);
    
   
}

.premierpartie{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
  
}

.premierpartie .container1{
    height: 440PX;
    width: 900PX;
    position: relative;
    right: 20PX;
   
   
}


.premierpartie .container1 img{
    border: 1PX solid black;
    border-radius: 5PX;
    height: 492PX;
    width: 930PX;
    background-size: AUTO;
    position: relative;
    top: -150PX;
    right: 40PX;
    filter: brightness(0.6);
  
}
.premierpartie .container1 .title1{
    position: relative;
    top: 130PX ;
    right: -50PX;
    color:rgba(236, 221, 8, 0.804);
    z-index: 1;
}
.premierpartie .container1 h1{
    position: relative;
    top: 140PX ;
    right: -50PX;
    color: rgb(255, 255, 255);
    z-index: 1;
}
.premierpartie .container1 .title2{
    position: relative;
    top: 150PX ;
    right: -50PX;
    color: rgb(255, 255, 255);
    z-index: 1;
}
.premierpartie .container1 .button1{
    height: 40PX;
    width: 150PX;
    position: relative;
    top: 170PX ;
    right: -50PX;
    border:1PX solid rgba(236, 198, 8, 0.842)  ;
    background-color: rgba(236, 198, 8, 0.842);
    color: rgb(0, 0, 0);
    z-index: 1;
}
.premierpartie .container2 {
    display: flex;
    flex-direction: column;
}
.premierpartie .container2 .actif{
    background-color:rgba(236, 198, 8, 0.842) ;
    height: 50PX;
    width: 280PX;
    position: relative;
    left: 2px;
    border-radius: 5PX;
    margin-top: 33PX;
}
.fa-folder{
    position: relative;
    top: 13PX;
    right: -5PX
}
.premierpartie .container2 .actif >li>a{
    position: relative;
    top: -5PX;
    right: -30PX;
}
.premierpartie .container2 .reste{
    background-color:white;
    height: 50PX;
    width: 260PX;
    left: 2PX;
    position: relative;
    padding: 3px;
    border-bottom: 1PX SOLID rgba(44, 42, 42, 0.093);
}
.fa-home{
    position: relative;
    top: 16PX;
    right: -5PX
}
.premierpartie .container2 .reste >li>a{
    position: relative;
    top: -2PX;
    right: -30PX;
}
.fa-tshirt{
    position: relative;
    top: 16PX;
    right: -5PX
}
.fa-desktop{
    position: relative;
    top: 16PX;
    right: -5PX
}
.fa-clock{
    position: relative;
    top: 16PX;
    right: -5PX
}
.fa-blog{
    position: relative;
    top: 16PX;
    right: -5PX
}
.fa-envelope{
    position: relative;
    top: 16PX;
    right: -5PX
}
.fa-shoe-prints{
    position: relative;
    top: 16PX;
    right: -5PX
}
.Links{
    text-decoration: none;
    color: black;
}


/*end premier partie*/