
.intersection-observer.image-containeur{
    opacity: 0;
    filter: blur(2px);
    transition: ease-in-out 800ms;
    transform: translateX(-50%);
    
   
}
.intersection-observer.image-containeur.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

.globale{
    height: 490PX;
    width: 930PX;
    position: relative;
    right: -480px;
   
    
}
.image-containeur{
    flex-grow: 1;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: wrap;
    border-radius: 10px;
    background-color: #F7F7F7;
    border: 1PX SOLID #F7F7F7;
}
.element-image{
    width: 35%;
}
.element-image img{
    height: 280PX;
    width: 230PX;
    background-size: AUTO;
    position: relative;
    top: 3PX;
    background-color: WHITE;   
}
.ligne3{
    position: relative;
    width: 98%;
  height: 1px;
  background-color: rgb(175, 172, 172);
}
.image-containeur p{
    color: black;
}
.element-image p{
    position: relative;
    top: 10PX;
    color: gray;
    left: 20px;
}
.element-image h3{
    padding-left: 20px;
}
.element-image .price{
    position: relative;
    top: 40px;
    left: 180PX;
    text-decoration:line-through;
}
.element-image .discount{
    color: red;
}
.element-image:hover .image{
    transform: scale(1.1); 
    
}

.image:hover{
    height: 290 ;
    width: 240;
    transition: all 0.5s ease-in-out;
    
}

