.intersection-observer.image-containeur{
    opacity: 0;
    filter: blur(2PX);
    transition: ease-in-out 800ms;
    transform: translateX(-50%);
    overflow: hidden;
   
}
.intersection-observer.image-containeur.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}
.intersection-observer.Image-women{
    opacity: 0;
    filter: blur(2px);
    transition: ease-in-out 500ms;
    transform: translateX(-20%);
    
   
}
.intersection-observer.Image-women.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}
.globale1{
    margin-top: 80px;
    height: 970PX;
    width: 930PX;
    position: relative;
    right: -480px;
   border-radius: 10px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
}
.globale1 >h3{
  position: relative;
  left: 20px;
  bottom: -10px;
  
}
.image-containeur{
    flex-grow: 1;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: wrap;
    
    border: 1PX SOLID #F7F7F7;
}
.element-image{
    overflow-x: hidden;
    
}
.element-image .image{
    height: 280PX;
    width: 230PX;
    background-size: AUTO;
    position: relative;
    top: 3PX;
    background-color: WHITE;  
    
}
.ligne3{
    position: relative;
    width: 98%;
  height: 2px;
  background-color: rgb(175, 172, 172);
}
.image-containeur p{
    color: black;
}
.ligne4{
    position: relative;
    width: 100%;
  height: 2px;
  background-color: rgb(175, 172, 172);
}
.element-image p{
    position: relative;
    top: 10PX;
    color: gray;
    left: 20px;
}
.element-image h3{
    padding-left: 20px;
}
.element-image .price{
    position: relative;
    top: 40px;
    left: 180PX;
    text-decoration:line-through;
}
.element-image .discount{
    color: red;
}
.element-image:hover .image{
    transform: scale(1.1); 
    opacity: 1;
}

.image:hover{
    height: 290 ;
    width: 240;
    transition: all 0.5s ease-in-out;
    
    
}
.Image-women{
    height: 300PX;
    width: 950PX;
    position: relative;
    right: 20PX;
    background-color: white;
}
.Image-women img{
    border: 1PX solid black;
    border-radius: 5PX;
    height: 330PX;
    width: 925PX;
    background-size: AUTO;
    position: relative;
    top: -210PX;
    right: -22PX;
    filter: brightness(0.8);
    overflow-x: hidden;
    
}
.ligne5{
    position: relative;
    width: 100%;
  height: 60px;
  background-color: white; 
  top: -80PX;
}
.Image-women>h1{
    position: relative;

    top: -40PX ;
    left: 100PX;
    color: rgb(255, 255, 255);
    z-index: 1;
}
.Image-women .title{
    position: relative;
    top: -10PX ;
    right: -100PX;
    color:rgb(216, 215, 215);
    z-index: 1;
}
.Image-women .button{
    height: 40PX;
    width: 150PX;
    position: relative;
    top: 35PX ;
    right: -100PX;
    border:1PX solid rgba(236, 198, 8, 0.842)  ;
    background-color: rgba(236, 198, 8, 0.842);
    color: rgb(0, 0, 0);
    z-index: 1;
}

