.container2-clothes {
    display: flex;
    flex-direction: column;
    margin-left: 90PX;
    padding-top: 40PX;
    height: 300PX;
    width: 300PX;
}
.container2-clothes .actif{
    background-color:rgba(236, 198, 8, 0.842) ;
    height: 50PX;
    width: 280PX;
    position: relative;
    left: 2px;
    border-radius: 5PX;
    margin-top: 33PX;
}

.container2-clothes .actif >li>a{
    position: relative;
    left: 20PX;
    top: 15PX;
}
.container2-clothes .reste{
    background-color:white;
    
    height: 50PX;
    width: 260PX;
    left: 2PX;
    position: relative;
    padding: 10px;
    border-bottom: 2PX SOLID rgba(44, 42, 42, 0.093);
}
.container2-clothes .Links{
    
        text-decoration: none;
        color: black;
        position: relative;
    left: 20PX;
    top: 15PX;
    cursor: pointer;
    
}
