

.footer{
    background-color: rgb(48, 48, 162);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1230px;
    padding-bottom: 150PX;
    
}
.footer-component{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
  margin-top: 20PX;
}
.section1{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -160PX;
}
.logo2{
    position: relative;
    top: 20px;
    color: white;
    font-weight: bolder;
    font-style:oblique;
    font-size:larger;
    text-decoration: none;
}
.logo2 span{
    color:rgb(200, 200, 27) ;
}
p{
    color: white;
    position: relative;
    top: 40px;
    margin-bottom: -4px;
    
}
.section1 div{
    position: relative;
    top: 70PX;
}
.fa-facebook{
    color: white;
    width: 30px;
    font-size: x-large;
}
.fa-instagram{
    color: white;
    width: 30px;
    font-size: x-large;
}
.fa-twitter{
    color: white;
    width: 30px;
    font-size: x-large;
}
.section2{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -10PX;
}

.section2 h1{
    color: white;
    font-weight: bolder;
    font-style:oblique;
    font-size:larger;
}

.partie2{
   
    position: relative;
    top: 25px;
   
}
.partie2 li{
    margin-bottom: 15px;
}
.link{
    text-decoration: none;
    color: white;
}
.section3{
    position: relative; 
    left: 100PX;
    
}
.section3 h1{
    color: white;
    font-weight: bolder;
    font-style:oblique;
    font-size:larger;
}
.section3 p{
    position: relative;
    top: 25px;
}
.partie3{
    position: relative;
    top: 45px;
}
.partie3 li {
    margin-bottom: 15px;
}
.section4{
    display: flex;
    flex-direction: column;
    position: relative; 
    left: 165PX;
}
.section4 h1{
    color: white;
    font-weight: bolder;
    font-style:oblique;
    font-size:larger;
}
.section4 p{
    position: relative;
    top: 10PX;
}
.partie4{
    position: relative;
    top: 40PX;
}
.fa-cc-visa{
    color: white;
    width: 50px;
    font-size: xx-large;
}
.fa-cc-amex{
    color: white;
    width: 50px;
    font-size: xx-large;
}
.fa-cc-mastercard{
    color: white;
    width: 50px;
    font-size: xx-large;
}
.fa-cc-paypal{
    color: white;
    width: 50px;
    font-size: xx-large;
}

.ligne2{
    position: relative;
    left: 100PX;
    top: 70PX;
    width: 86%;
  height: 1px;
  background-color: rgb(175, 172, 172);
}